
.bottoneBanna{
	border: 1px solid;
     -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
    width: 40px;
    height: 40px;
     font-size: 2rem;
     font-weight: bold;
    background-color: yellow;
}

.bottoneDelete{
    font-size: 2rem;
     font-weight: bold;
	display: block;
  	margin: 0 auto;
	border: 1px solid;
    -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: orange;

}

